<%= form_for(mgmt) do |f| %>
  <% if mgmt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mgmt.errors.count, "error") %> prohibited this mgmt from being saved:</h2>

      <ul>
      <% mgmt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
